<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="1.Личный кабинет клиента">

<!--    <test name="C35 1.5.6 Заказ теста на своей аудитории(веб-сайт), тариф 'Бесплатный'" >-->
<!--                <groups>-->
<!--                    <run>-->
<!--                        <include name="C35" />-->
<!--                    </run>-->
<!--                </groups>-->
<!--                <packages>-->
<!--                    <package name="company.name.CustomerAccount" />-->
<!--                </packages>-->
<!--    </test>-->

<!--    <test name="C809 4.1.1 Заполнение корректных данных профиля тестировщика (мужской профиль)" >-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="C809" />-->
<!--            </run>-->
<!--        </groups>-->
<!--        <packages>-->
<!--            <package name="company.name.CustomerAccount" />-->
<!--        </packages>-->
<!--    </test>-->

    <test name="Группа include" >
        <groups>
            <run>
                <include name="include" />
            </run>
        </groups>
        <packages>
            <package name="company.name.CustomerAccount" />
        </packages>
    </test>

<!--    <test name="1.5 Создание тестов" >-->
    <!--    <groups>-->
    <!--        <run>-->
    <!--           <include name="1.5" />-->
    <!--        </run>-->
    <!--    </groups>-->
<!--        <packages>-->
<!--            <package name="company.name.CustomerAccount" />-->
<!--        </packages>-->
<!--    </test>-->

</suite>




